.page-editor-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
}
.back-link {
color: rgb(153, 141, 141);
font-size: 14px;
font-weight: 450;
background-color: white;
border: none;
}

.link-tag {
  text-decoration: none;
}
.save-btn, .delete-btn {
  background-color: white;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: rgb(153, 141, 141);
}

.save-btn:hover, .delete-btn:hover, .back-link:hover {
  font-weight: bold;
  color:rgb(188, 225, 226)
}
.save-btn:active, .delete-btn:active, .back-link:active {
  color:rgb(158, 173, 203);
  font-weight: bold;
}

.text-area {
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: center;
  max-width: 1000px;
  font-family: 'Gothic A1';
  font-size:x-large;
  color: rgb(157, 154, 154);
  width: 100%;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' height='30' width='500'%3e%3cline x1='0' y1='0' x2='500' y2='0' style='stroke:%23EAE7D9%3bstroke-width:3'/%3e%3c/svg%3e");
  background-repeat:repeat;
  border-color: gray;
  margin: 10px auto;
  
}

.note-title {
width: 240px;
height: 25px;
color: gray;
padding: 10px;
border-radius: 5px;
border-color: rgb(220, 206, 188);
padding: auto 10px;
box-shadow: 5px 5px 7px rgb(247, 244, 244);
}

input {
  all:unset;
  border: 1px solid rgb(247, 241, 230);
  text-align: left;
}
.stickers-container {
  border: 1px solid rgb(237, 230, 218);
  height: 100px;
  background-color: white;
}


.dropdown-panel {
  display: block;
  border: 1px solid rgb(211, 195, 183);
  height: 210px;
  margin: 10px auto;

}

.sticker-img {
  margin: 10px 10px;
  width: 50px;
  height: 50px;
}

.hide {
  display: none;
}


button {
  display: flex;
}
.stickers-container {
 display: flex;
 box-shadow: 4px 4px 6px rgb(243, 240, 240);
}
.sticker-area {
  margin: 10px auto;
  text-align: center;
  border: 1px solid rgb(211, 195, 183);
  width: 100%;
  height: 50px;
  border-radius: 5px;
  box-shadow: 5px 5px 7px rgb(247, 244, 244);
  max-width:1000px;
}

.stickerbtn-container {
  display: flex;
  margin: auto auto;
}

.addstickers-btn {
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-container {
  max-width: 1000px;
  margin: 0 auto;
  min-width: 376px;
}